{# templates/product/_form.html.twig #}
{{ form_start(form) }}
<div class="row g-3">
    <div class="col-md-6">
        {{ form_label(form.libelle) }}
        {{ form_widget(form.libelle, {'attr': {'class': 'form-control', 'placeholder': 'Enter product name'}}) }}
        {{ form_errors(form.libelle) }}
    </div>
    <div class="col-md-6">
        {{ form_label(form.price) }}
        {{ form_widget(form.price, {'attr': {'class': 'form-control', 'placeholder': 'Enter price'}}) }}
        {{ form_errors(form.price) }}
    </div>
    <div class="col-md-12">
        {{ form_label(form.description) }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Enter description'}}) }}
        {{ form_errors(form.description) }}
    </div>
    <div class="col-md-6">
        {{ form_label(form.category) }}
        {{ form_widget(form.category, {'attr': {'class': 'form-select'}}) }}
        {{ form_errors(form.category) }}
    </div>
    <div class="col-md-12">
        {{ form_label(form.orders) }}
        {{ form_widget(form.orders, {'attr': {'class': 'form-select', 'multiple': 'multiple'}}) }}
        {{ form_errors(form.orders) }}
    </div>
</div>
<div class="mt-4 text-center">
    <button class="btn btn-primary btn-lg">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}
