{# templates/order/_form.html.twig #}
{{ form_start(form) }}
<div class="row g-3">
    <div class="col-md-6">
        {{ form_label(form.totalPrice) }}
        {{ form_widget(form.totalPrice, {'attr': {'class': 'form-control', 'placeholder': 'Enter total price'}}) }}
        {{ form_errors(form.totalPrice) }}
    </div>
    <div class="col-md-6">
        {{ form_label(form.orderUser) }}
        {{ form_widget(form.orderUser, {'attr': {'class': 'form-select'}}) }}
        {{ form_errors(form.orderUser) }}
    </div>
    <div class="col-md-6">
        {{ form_label(form.cart) }}
        {{ form_widget(form.cart, {'attr': {'class': 'form-select'}}) }}
        {{ form_errors(form.cart) }}
    </div>
    <div class="col-md-12">
        {{ form_label(form.products) }}
        {{ form_widget(form.products, {'attr': {'class': 'form-select', 'multiple': 'multiple'}}) }}
        {{ form_errors(form.products) }}
    </div>
</div>
<div class="mt-4 text-center">
    <button class="btn btn-primary btn-lg">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}
